<div class="footer-container-wrapper section--dnd">
    <div class="container-fluid">
        <div class="row-fluid-wrapper">
            <div class="row-fluid">
                <div class="span12 widget-span widget-type-cell" data-widget-type="cell" data-x="0" data-w="12">
                </div><!--end widget-span -->
            </div>
        </div>
    </div>
</div>
<div data-global-resource-path="theme-byob/templates/partials/footer.html">
    <div id="hs_cos_wrapper_footer_module_v2" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" data-hs-cos-general-type="widget" data-hs-cos-type="module">
        <footer class="footer u-bg--black">
            <div class="footer-container">
                <div class="footer__bottom footer-flex ">
                    <div class="container">
                        <div class="row align-items-center justify-content-md-between">
                            <div class="col-lg-7 col-md-12 col-12">
                                <div>
                                    <p>
                                        <a href="#" rel="noopener">TERMS OF SERVICE</a>
                                        / <a href="#" rel="noopener">PRIVACY POLICY</a>
                                    </p>
                                </div>
                                <div>
                                    <p>&copy;{{ site.time | date: '%Y' }} Feeliks Leadership Entreprise,Inc&reg; / All Rights Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
