{% raw %}
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-language" content="en">
  <link rel="canonical" href="index.html">
  
  {% seo %}
  
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/img/favicons/favicon.svg" />
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Feeliks" />
  <link rel="manifest" href="/assets/img/favicons/site.webmanifest" />
  
  <link rel="stylesheet" href="{{ '/assets/css/main.min.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css">
  <link rel="stylesheet" href="/assets/css/module_88611538580_two-column--variable.min.css">

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
{% endraw %}
